<div class="row">
  <div class="col-sm-12">
    <ul>
      <li style="list-style-type: none;">
        <div class="panel panel-primary">
          <div class="panel-body" style="font-size: 20px;">
            <i class="fa fa-file-o fa-fw fa-3x" style="color:green"></i> <%= posts.length %> โพส
          </div>
        </div>
      </li>
      <li style="list-style-type: none;">
        <div class="panel panel-primary">
          <div class="panel-body" style="font-size: 20px;">
            <i class="fa fa-file-o fa-fw fa-3x" style="color:green"></i> <%= pages.length %> หน้า
          </div>
        </div>
      </li>
      <li style="list-style-type: none;">
        <div class="panel panel-primary">
          <div class="panel-body" style="font-size: 20px;">
            <i class="fa fa-file-o fa-fw fa-3x" style="color:green"></i> <%= archives_year.length %> คลังเก็บปี
          </div>
        </div>
      </li>
      <li style="list-style-type: none;">
        <div class="panel panel-primary">
          <div class="panel-body" style="font-size: 20px;">
            <i class="fa fa-file-o fa-fw fa-3x" style="color:green"></i> <%= archives_month.length %> คลังเก็บเดือน
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
