<div class="col-sm-12">
  <h3>สมัครสมาชิก</h3><hr/>
  <form class="form-horizontal" method="post" action="/users/register">
    <div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">อีเมล์</label>
      <div class="col-sm-5">
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="อีเมล์">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">รหัสผ่าน</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" id="inputPassword" name="password1" placeholder="รหัสผ่าน">
      </div>
    </div>
    <div class="form-group">
      <label for="inputConfirmPassword" class="col-sm-2 control-label">ยืนยันรหัสผ่าน</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" id="inputConfirmPassword" name="password2" placeholder="ยืนยันรหัสผ่าน">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-5">
        <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in fa-fw"></i> สมัครสมาชิก</button>
      </div>
    </div>
  </form>
</div>
